---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <div class="container">
                <div class="dark-blue-section top">
                    <div class="withimage">
                        <div>
                            <p>
                                I'm Nikki Loesch, MS, CCC-SLP, a licensed speech-language pathologist and the founder of Neuro Inclusive Speech Therapy. I specialize in providing evidence-based speech therapy services for pediatric and adult clients, with a focus on neuro-affirming, individualized care.
                            </p>
                            <p>
                                I spent nearly ten years working and training at Shirley Ryan AbilityLab in Chicago, consistently ranked the number one rehabilitation hospital in the United States by <i>U.S. News & World Report</i> for 35 years. During my time there, I developed advanced expertise in neurological rehabilitation, serving both children and adults with speech, language, cognitive-communication, and swallowing disorders.
                            </p>
                            <p>
                                Since returning to my home state of Ohio, I have provided speech therapy services in speciality pediatric and neuroscience hospitals in inpatient and outpatient settings, supporting patients across a wide range of diagnoses and speech, communication and swallowing needs.
                            </p>
                            <p>
                                I founded Neuro Inclusive Speech Therapy to address limitations I observed in traditional hospital-based speech therapy settings, including a lack of transparency and systemic challenges that can affect continuity of care and patient-centered treatment. Establishing a private speech therapy practice allows me to offer greater clarity, individualized treatment planning, and consistent follow-through, ensuring that pediatric and adult clients receive high-quality, evidence-based speech-language pathology services tailored to their goals and long-term needs.
                            </p>
                            <p>
                                To learn more about the services I offer, please visit my <a href="/pediatric-services">Pediatric Speech Services</a> and <a href="/adult-services">Adult Speech Services</a> pages.
                            </p>
                        </div>
                        <div class="image">
                            <img src="/NikkiLoesch.png" alt="Nikki Loesch" />
                        </div>
                    </div>
                </div>
                <div class="divider lb-wave-1"></div>
                <div class="light-blue-section bottom">
                    <h3>Education and Specializations</h3>
                    <ul>
                        <li>Masters of Science in Speech-Language Pathology from Rush University, Chicago</li>
                        <li>Bachelors degree in Psychology and Sociology from DePaul University, Chicago</li>
                        <li>Certificate of Clinical Competence from the American Speech-Language Hearing Association (ASHA)</li>
                        <li>License to practice Speech Pathology in the State of Ohio</li>
                        <li>Speech therapist in Shirley Ryan Intensive Aphasia Program 2018</li>
                        <li>Certified LSVT (Lee Silverman Voice Treatment)</li>
                        <li>Certified SPEAK OUT! provider</li>
                        <li>Certified in Manual (Touch) Therapy for speech, voice and swallowing disorders</li>
                        <li>Guest lecturer at University of Cincinnati</li>
                    </ul>
                </div>
            </div>
		</main>
		<Footer />
	</body>
</html>