---
import Layout from '../layouts/InfoPage.astro';
---

<Layout
	title="Adult Services"
	description="Speach Therapy Services for Adults"
>
	<div class="container">
		<div class="dark-blue-section top">
			<div>
				<h3>Speech and Communication Therapy</h3>
				<p>
					You may benefit from speech and communication services if you have been diagnosed with the following:
					<ul>
						<li>Stroke</li>
						<li>Brain Injury</li>
						<li>Parkinson's Disease</li>
						<li>Primary Progressive Aphasia</li>
					</ul>
				</p>
			</div>
			<div>
				<div>
					<h4>Aphasia Therapy</h4>
					<p>
						Aphasia is a language disorder that often follows a stroke or other neurological injury and can affect speaking, understanding, reading, and writing. Because aphasia impacts more than just speech, treating verbal expression alone isn't enough to create real change. I provide comprehensive, individualized aphasia therapy that builds on each person's strengths to improve communication across all areas of daily life. With advanced training in multiple evidence-based aphasia treatments and experience in an intensive aphasia program, I offer highly targeted therapy that goes beyond standard approaches to support lasting progress.
					</p>
				</div>
				<div>
					<h4>Motor Speech and Voice Therapy:</h4>
					<p>
						Motor speech and voice therapy addresses changes in speech clarity, strength, coordination, and vocal quality.   These changes may affect how clearly a person is understood, how long they can speak, or how their voice sounds throughout the day.  Speech therapy provides focused therapy to improve speech precision, vocal strength, breath support, and endurance while teaching practical strategies to support clear, efficient communication. Therapy is tailored to each person's diagnosis, goals, and daily communication demands.
					</p>
				</div>
			</div>
		</div>
		<div class="divider wave-1"></div>
		<div class="white-section bottom">
			<h3>Cognitive-Communication Therapy</h3>
			<p>
                You may benefit from cognitive-communication services if you have been diagnosed with the following:
                <ul>
                    <li>Traumatic Brain Injury</li>
                    <li>Concussion</li>
                    <li>Stroke</li>
                    <li>Brain Tumor</li>
                    <li>Mild Cognitive Impairment (MCI)</li>
                </ul>
			</p>
			<p>
				Cognitive-communication therapy addresses skills such as attention, memory, problem-solving, organization, and executive functioning that are critical for daily independence. When these abilities are affected—whether mildly or more significantly—levels of independence with daily tasks are also affected. I provide goal-driven therapy to strengthen cognitive skills, teach practical compensatory strategies, and adapt everyday tasks to real-life demands. This approach helps one function more efficiently, regain confidence, and better navigate work, home, and community settings.
			</p>
		</div>
	</div>
</Layout>
