---
import Layout from '../layouts/InfoPage.astro';
---

<Layout
	title="Adult Services"
	description="Speach Therapy Services for Adults"
>
	<div class="container">
		<div class="first top">
			<h3>Speech and Communication Therapy</h3>
			<p>
				You may benefit from speech and communication services if you have been diagnosed with the following:
                <ul>
                    <li>Stroke</li>
                    <li>Brain Injury</li>
                    <li>Parkinson's Disease</li>
                    <li>Primary Progressive Aphasia</li>
                </ul>
			</p>
		</div>
		<div class="divider wave-1"></div>
		<div class="second bottom">
			<h3>Cognitive Communication Therapy</h3>
			<p>
                You may benefit from cognitive-communication services if you have been diagnosed with the following:
                <ul>
                    <li>Traumatic Brain Injury</li>
                    <li>Concussion</li>
                    <li>Stroke</li>
                    <li>Brain Tumor</li>
                    <li>Mild Cognitive Impairment (MCI)</li>
                </ul>
			</p>
		</div>
	</div>
</Layout>
