---
import Layout from "../layouts/InfoPage.astro";
---

<Layout
    title="Contact"
    description="Please fill out the form below to contact me."
>
    <body class="contact-body">
        <h3>Contact Neuro Inclusive Speech Therapy with questions or to schedule an appointment today!</h3>

        <form action="/actions/send-email" method="post">
            <div>
                <label for="send-email__from">Your Email Address:</label>
                <input
                    type="text"
                    name="from"
                    id="send-email__from"
                    required
                />
            </div>
            <div>
                <label for="send-email__subject">Subject:</label>
                <input
                    type="text"
                    name="subject"
                    id="send-email__subject"
                    required
                />
            </div>
            <div>
                <label for="send-email__message">Message:</label>
                <textarea name="message" id="send-email__message" required
                ></textarea>
            </div>
            <input type="submit" value="Send message" />
        </form>
    </body>
    <style>
        h3 {
            padding: 0 10%;
            text-align: center;
            margin-top: 2rem;
        }
        form {
            padding: 0 10%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 800px;
            margin: 2rem auto;
        }

        label {
            display: block;
            margin-bottom: 0.5rem;
        }

        input,
        textarea {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: white;
            border: none;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</Layout>
