---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to Neuro Inclusive Speech Therapy!</h1>
			<p>
				I'm Nikki Loesch, a speech-language pathologist and the founder of Neuro Inclusive Speech Therapy. I spent over ten years working and training at the Shirley Ryan AbilityLab in Chicago, ranked by U.S. News and World Report as the number 1 rehabilitation center in the United States for 35 consective years. During that time I became an expert in rehabilitating both pediatric and adult patients. Please see my <a href="/pediatric-services">Pediatric Services</a> and <a href="/adult-services">Adult Services</a> pages for more information about the services I provide.
			</p>
		</main>
		<Footer />
	</body>
</html>
<style>
	main {
		width: calc(100%);
		background-color: #93818E;
	}
	main h1 {
		padding: 5% 10%;
		text-align: center;
	}
	main p {
		margin: 0;
		padding: 5% 10%;
		font-size: 1.2em;
		line-height: 1.6;
	}
	main a {
		color: var(--accent);
		text-decoration: none;
	}
	main a:hover {
		text-decoration: underline;
	}
</style>
