---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <div class="container">
                <div class="first top">
                    <h1>Services That Are Accessible and Functional</h1>
                    <h3>In Home</h3>
                    <p>
                        Speech therapy is available to you in the comfort of your own home.  I provide personalized, evidence-based strategies to meet your needs in meaningful and functional ways.  Training family and caregivers on ways to practice your goals outside of our sessions incorporates your whole therapeutic team.
                    </p>
                    <h3>In Community</h3>
                    <p>
                        Communication and cognition occur everywhere.  Many clients report challenges and increased stress in real-life environments outside of a typical clinic or office setting.  At your request, Neuro Inclusive Speech Therapy offers a unique opportunity for community-based services at the grocery store, your favorite coffee shop or wherever you choose!  Working on skills in the real world makes learning faster, easier and more engaging.
                    </p>
                    <h3>Telehealth</h3>
                    <p>
                        Flexible, high-quality telehealth options can meet your needs no matter where you live in Ohio.  Research shows that progress via a virtual platform is comparable to in-person services.  Patients report saving money and fewer missed appointments as potential benefits of virtual services. Neuro Inclusive Speech Therapy offers services through a secure, HIPAA compliant video option.
                    </p>
                </div>
                <div class="divider wave-1"></div>
                <div class="second">
                    <h1>Types of Care</h1>
                    <h3>Care That Fits Your Needs</h3>
                    <p>
                        Neuro Inclusive Speech Therapy cares about you.  I am here to offer supportive, compassionate services to meet your identified needs.  Whether you are looking for only an evaluation, a second opinion or long-term therapy, we work as a team to decide the intensity and length of your treatment.  I respect and value your input and feedback during our sessions.  This collaboration adds to successful outcomes.  In addition to treatment sessions, I give home exercise programs so that you can progress towards your goals as quickly and efficiently as possible.
                    </p>
                    <h3>Interim Care</h3>
                    <p>
                        Dealing with long wait times and scheduling conflicts? Therapy for neurological and neurodegenerative conditions is best when started as soon as possible.  I am able to provide immediate appointments.  Later, I will gladly transfer your care if your spot opens up elsewhere.
                    </p>
                </div>
                <div class="divider wave-2"></div>
                <div class="first bottom">
                    <h1>Payment</h1>
                    <p>
                        Neuro Inclusive Speech Therapy offers private pay options.  An itemized invoice can be provided for you to submit to your insurance for potential reimbursement as most major insurances provide out-of-network benefits.  Speech therapy services are also eligible for HSAs (Health Savings Account) and FSAs (Flexible Spending Account).
                    </p>
                </div>
            </div>
		</main>
		<Footer />
	</body>
</html>
