---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <div class="container">
                <div class="dark-blue-section top">
                    <div class="largelogo"><img src="/logo-square-cropped.svg" alt={SITE_TITLE}/></div>
                    <h3>Services That Are Accessible and Functional</h3>
                    <h4>In Home</h4>
                    <p>
                        Speech therapy is available to you in the comfort of your own home.  I provide personalized, evidence-based strategies to meet your needs in meaningful and functional ways.  Training family and caregivers on ways to practice your goals outside of our sessions incorporates your whole therapeutic team.
                    </p>
                    <div class="withimage">
                        <div>
                            <h4 class="align-left">In Community</h4>
                            <p>
                                Communication and cognition occur everywhere.  Many clients report challenges and increased stress in real-life environments outside of a typical clinic or office setting.  At your request, Neuro Inclusive Speech Therapy offers a unique opportunity for community-based services at the grocery store, your favorite coffee shop or wherever you choose!  Working on skills in the real world makes learning faster, easier and more engaging.
                            </p>
                        </div>
                        <div class="image">
                            <img src="/community.jpg" alt="Community Care" />
                        </div>
                    </div>
                    <h4>Telehealth</h4>
                    <p>
                        Flexible, high-quality telehealth options can meet your needs no matter where you live in Ohio.  Research shows that progress via a virtual platform is comparable to in-person services.  Patients report saving money and fewer missed appointments as potential benefits of virtual services. Neuro Inclusive Speech Therapy offers services through a secure, HIPAA compliant video option.
                    </p>
                </div>
                <div class="divider wave-1"></div>
                <div class="white-section">
                    <h3>Types of Care</h3>
                    <div class="block-container">
                        <div class="rounded-block">
                            <h4>Care That Fits Your Needs</h4>
                            <p>
                                My approach is centered on compassion, respect, and collaboration. Together, we'll identify your needs and use proven strategies to help you move toward your goals. Your voice and feedback are essential parts of our work — we'll grow and adapt the process as we go.
                            </p>
                        </div>
                        <div class="rounded-block">
                            <h4>Treatment Options</h4>
                            <p>
                                Whether you’re seeking an evaluation only, a second opinion, or ongoing therapy, we’ll work together to determine the most appropriate intensity and length of care. In addition to treatment sessions, I provide individualized home exercise programs designed to help you make steady, efficient progress toward your goals.
                            </p>
                        </div>
                        <div class="rounded-block">
                            <h4>Interim Care</h4>
                            <p>
                                Struggling with long wait lists or scheduling issues? Therapy for neurological and neurodegenerative conditions works best when started right away. I can offer immediate appointments to get your care started, and I’ll gladly coordinate a smooth transition once your preferred provider becomes available.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="divider wave-2"></div>
                <div class="dark-blue-section bottom">
                    <h3>Payment</h3>
                    <p>
                        Neuro Inclusive Speech Therapy offers private pay options.  An itemized invoice can be provided for you to submit to your insurance for potential reimbursement as most major insurances provide out-of-network benefits.  Speech therapy services are also eligible for HSAs (Health Savings Account) and FSAs (Flexible Spending Account).
                    </p>
                </div>
            </div>
		</main>
		<Footer />
	</body>
</html>
