---
import Layout from '../layouts/InfoPage.astro';
---

<Layout
	title="Pediatric Services"
	description="Speach Therapy Services for Children"
>
	<div class="container">
		<div class="dark-blue-section top">
            <div class="withimage">
                <div>
                    <h3 class="align-left">Cognitive-Communication Therapy</h3>
                    <p>
                        Comprehensive services for treatment of skills such as memory, attention, planning, organization, and problem solving following brain differences or changes due to illness or injury.
                    </p>
                </div>
                <div class="image">
                    <img src="/cognitive.jpg" alt="Cognitive-Communication" />
                </div>
            </div>
		</div>
		<div class="divider wave-1"></div>
		<div class="white-section">
            <div class="withimage">
                <div>
                    <h3 class="align-left">Feeding</h3>
                    <p>
                        Comprehensive feeding services for feeding and swallowing challenges that stem from neurological conditions. I specialize in treating sensory-behavioral feeding issues that may or may not also have swallowing impairments present in children 6 months or older.
                    </p>
                </div>
                <div class="image">
                    <img src="/feeding.jpg" alt="Feeding" />
                </div>
            </div>
		</div>
		<div class="divider wave-2"></div>
		<div class="dark-blue-section bottom">
            <div class="withimage">
                <div>
                    <h3 class="align-left">Language Disorders</h3>
                    <p>
                        Individualized therapy for language services for all communication types with parent coaching.  I also offer AAC (Augmentative Alternative Communication) evaluation and treatment.
                    </p>
                </div>
                <div class="image">
                    <img src="/languagechild.jpg" alt="Language Disordsers" />
                </div>
            </div>
		</div>
	</div>
</Layout>
