---
import Layout from '../layouts/InfoPage.astro';
---

<Layout
	title="Pediatric Services"
	description="Speach Therapy Services for Children"
>
	<div class="container">
		<div class="dark-blue-section top">
            <div class="withimage">
                <div>
                    <h3 class="align-left">Cognitive-Communication Therapy</h3>
                    <p>
                        Targeted therapy strengthens thinking skills — including memory, attention, planning, organization, and problem-solving — for individuals experiencing brain changes or differences due to neurological conditions, illness or injury. Strengthening these areas promotes independence in everyday life and supports success at school or work through improved executive functioning skills. 
                    </p>
                </div>
                <div class="image">
                    <img src="/cognitive.jpg" alt="Cognitive-Communication" />
                </div>
            </div>
		</div>
		<div class="divider wave-1"></div>
		<div class="white-section">
            <div class="withimage">
                <div class="image">
                    <img src="/feeding.jpg" alt="Feeding" />
                </div>
                <div style="padding-left: 10px">
                    <h3 class="align-left">Feeding</h3>
                    <p>
                        Neuro Inclusive Speech Therapy offers comprehensive feeding services for individuals experiencing feeding and swallowing challenges related to neurological conditions. I specialize in treating sensory-behavioral feeding difficulties, with or without accompanying swallowing impairments (dysphagia), in children aged six months and older.
                    </p>
                </div>
            </div>
		</div>
		<div class="divider wave-2"></div>
		<div class="dark-blue-section bottom">
            <div class="withimage">
                <div>
                    <h3 class="align-left">Language Disorders</h3>
                    <p>
                        I provide individualized, play-based language therapy to support all forms of communication. My approach incorporates parent coaching to encourage progress and confidence at home. I also offer comprehensive AAC (Augmentative and Alternative Communication) evaluations and treatment to help each individual find their most effective way to connect and express themselves.
                    </p>
                </div>
                <div class="image">
                    <img src="/languagechild.jpg" alt="Language Disordsers" />
                </div>
            </div>
		</div>
	</div>
</Layout>
