---
import Layout from '../layouts/InfoPage.astro';
---

<Layout
	title="Adult Services"
	description="Speach Therapy Services for Adults"
>
	<div class="container">
		<div class="first top">
			<h3>Language Therapy</h3>
			<p>
				Individualized language services for all sommunications types invludig AAC evaluation and treatment.
			</p>
		</div>
		<div class="divider wave-1"></div>
		<div class="second">
			<h3>Feeding Therapy</h3>
			<p>
				Comprehensive feeding services for feeding and swallowing challenges that stem from neurological conditions.
			</p>
		</div>
		<div class="divider wave-2"></div>
		<div class="first bottom">
			<h3>Cognitive Communication Therapy</h3>
			<p>
				Comprehensive services for treatment of skills such as memory, attention, planning, organization, and problem solving following brain differences or changes due to illness or injury.
			</p>
		</div>
		
	</div>

	<style>
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: stretch;
		}
		.top {
			padding-top: 50px;
		}
		.bottom {
			padding-bottom: 100px;
		}
		.first {
			padding-left: 10%;
			padding-right: 10%;
			background-color: #93818E;
		}
		.second {
			padding-left: 10%;
			padding-right: 10%;
			background-color: #EED594;
		}
		.divider {
			aspect-ratio: 2/1;
			background: no-repeat center;
			background-size: cover;
			max-height: 400px;
		}
		.wave-1 {
			background-image: url('/divider.svg');
		}
		.wave-2 {
			background-image: url('/divider.svg');
			transform: rotate(180deg);
		}
		li {
			margin-left: 20%;
		}
	</style>
</Layout>
